/* Usando google fontes: Krona e Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Definindo variáveis globais para serem reutilizadas*/
:root {
  --cor-primaria: #e0ebf7;
  --cor-secundaria: #454538;
  --cor-terciaria: #617592;
  --cor-caixainput: #c7dcf3;
  --cor-btnsubmithover: #333333; 
}

/* Definindo o css do body em todos os menus */
body {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}