header {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  padding-top: 20px;
  max-height: 100px;
}

.card-custom {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #ffffff;
  padding: 1.5rem;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.card-img-top {
  width: 100%;
  height: 400px;
  /* object-fit: cover; */
  margin: 0 auto 0.5rem auto;
  border-radius: 0.5rem;
}

.card-title {
  font-family: 'Krona One', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: var(--cor-secundaria);
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  color: #555555;
  margin-bottom: 1rem;
}

.btn-primary {
  border: none;
  background-color: var(--cor-terciaria);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #333333;
}

.row.justify-content-center {
  justify-content: center;
}
