header {
  margin-top: 3rem;
}

header .logo {
  max-height: 80px;
  width: auto;
}

.login-container {
  background-color: var(--cor-caixainput);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 10rem auto 0;
  width: 400px;
  padding: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Krona One', sans-serif;
}

.btn-login {
  width: 100%;
  margin-top: 1rem;
  border: none;
  background-color: var(--cor-terciaria);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: var(--cor-btnsubmithover);
}